<section class="hero is-small hero-head">
  
    <div class="hero-body">
    <div class="container">
    <figure class="image">
     <img src="/images/logo.png" style="width: 500px;">
    </figure>
    </div>
    </div>
  
    <!-- nav at the bottom -->
    <div class="hero-foot">
      <nav class="tabs is-centered is-toggle is-toggle-rounded" style= "padding-bottom: 25px">
        <div class="container">
        
          <ul>
            <li class="is-active"><a style= "font-family: Roboto">Home</a></li>
            <li><a style= "font-family: Roboto">F1</a></li>
            <li><a style= "font-family: Roboto">F2</a></li>
            <li><a style= "font-family: Roboto">F3</a></li>
            <li><a style= "font-family: Roboto">F4</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>