<section class="hero is-small hero-head">
  
    <div class="hero-body" style="background-color:white">
    <div class="container">
    <figure class="image">
     <img src="/images/logo.png" style="width: 500px;">
    </figure>
    </div>
    </div>
  
    <!-- nav at the bottom -->
    <div class="hero-foot" style="background-color:white">
      <nav class="tabs is-centered is-large" style= "padding-bottom: 25px">
        <div class="container">
        
          <ul>
            <li class="is-active"><a href="/" style= "font-family: Roboto">Home</a></li>
            <li><a href="/levels" style= "font-family: Roboto">Levels</a></li>
            <li><a href="/dsc" style= "font-family: Roboto">Deep Sea Critters</a></li>
            <li><a href="/about" style="font-family: Roboto">About</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </section>

  <br>