<!doctype html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body style="<%= typeof styling === 'undefined' ? '' : styling %>">
<% include ../partials/header %>


<%- body %>

<% include ../partials/footer %>
</body>
</html>