<section class="hero is-dark is-fullheight is-bold">
  <div class="hero-body">
  <div class="container">
  <div class=columns>
  <div class=column>
    <h1 class="title" style="font-family: Roboto; font-size: 72px">
        Project
    </h1>
    <h1 class="title" style="font-family: Roboto color: #264cfb; font-size: 72px">
        M<span style="color: #264cfb; font-size: 32px">ultipurpose</span><br>
        I<span style="color: #264cfb; font-size: 32px">n-depth</span><br>
        S<span style="color: #264cfb; font-size: 32px">ubmarine</span><br>
        T<span style="color: #264cfb; font-size: 32px">ool</span><br>
    </h1>
  </div>

  <div class=column>
    <h1 class="title is-size-3" style="font-family: Roboto"> The Multipurpose In-depth Submarine Tool was created to test the overall intergrity of various submarine builds against accumulating water pressures. These builds can vary by hull material, hull thickness, and submarine radius to simulate safety values necessary to traverse the depths.</h1>

  </div>
  </div>
  </div>
  </div>
  </section>    
