<section class="hero is-fullheight is-bold" style = "background-color: #131e3a">
<div class="hero-body">
<div class="container">
  <div class='carousel carousel-animated carousel-animate-slide'>
  <div class='carousel-container'>
    <div class='carousel-item has-background is-active'>
      <img class="is-background" src="//www.bonaireturtles.org/wp/wp-content/uploads/2016/01/why-aera-sea-turtles-endangred-748x561.jpg" alt="" width="640" height="310" />
      <div class="title is-size-6" style = "font-family: Roboto">
        Sea turtles are one of the Earth's most ancient creatures. The seven species that can be found today have been around for 110  million years, since the time of the dinosaurs. The sea turtle's shell, or "carapace" is streamlined for swimming through the water. Unlike other turtles, sea turtles cannot retract their legs and head into their shells. Their color varies between yellow, greenish and black depending on the species.(656.168 feet)
      </div> 
    </div>
    <div class='carousel-item has-background' >
      <img class="is-background" src="//3c1703fe8d.site.internapcdn.net/newman/gfx/news/hires/2017/mismatchedey.jpg" alt="" width="640" height="310" />
      <div class="title is-size-6"style = "font-family: Roboto">
      Squid are cephalopods of the two orders Myopsida and Oegospida, which were formerly regarded as two suborders of the order Teuthida, however recent research shows Teuthida to be paraphyletic. The two current orders comprise around 304 species. Like all other cephalopods, squid have a distinct head, bilateral symmetry, a mantle, and arms. Squid, like cuttlefish, have eight arms arranged in pairs and two, usually longer, tentacles. Squid are strong swimmers and certain species can "fly" for short distances out of the water. (13123.36-19685.04 feet)
        
      </div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="//a.scpr.org/i/25ee7b0ceab12c44121dad13a40ae3c6/127000-full.jpg" alt="" width="640" height="310" />
      <div class="title is-size-6" style = "font-family: Roboto">
      Starfish or sea stars are star-shaped echinoderms belonging to the class Asteroidea. Common usage frequently finds these names being also applied to ophiuroids, which are correctly referred to as brittle stars or "basket stars". About 1,500 species of starfish occur on the seabed in all the world's oceans, from the tropics to frigid polar waters. They are found from the intertidal zone down to abyssal depths, 6,000 m (20,000 ft) below the surface. (656.168-3280.84 feet)
      
      </div>
    </div>
    <div class='carousel-item has-background'>
      <img class="is-background" src="/images/d1gglft4zv6x.png" alt="" width="640" height="310" />
      <div class="title is-size-6" style = "font-family: Roboto">
      The deep sea anglerfish is one of the most bizarre-looking fish in the sea. Known scientifically as Melanocetus johnsoni, it is also one of the best-known creatures of the deep. It is one of about 200 species of anglerfish found throughout the world's oceans. The angler gets its name from the elongated dorsal spine that supports a light-producing organ known as a photophore. Through a chemical process known as bioluminescence, this photophore can produce a blue-green light similar to that of a firefly on land. The fish uses this appendage like a fishing lure, waving it back and forth to attract its prey. (3280.84-13123.36 feet)
      </div>
    </div>
  </div>
  <div class="carousel-navigation is-overlay">
    <div class="carousel-nav-left">
      <i class="fa fa-chevron-left" aria-hidden="true"></i>
    </div>
    <div class="carousel-nav-right">
      <i class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
  </div>
</div>
</div>
</div>
</section>


</div>
