<div class="container">
  <div class="columns">
    <div class="column">
      <div class="box has-text-centered" style= "font-family: Roboto">Material</div>
    </div>
    <div class="column">
      <div class="box has-text-centered" style= "font-family: Roboto"> Hull Thickness</div>
    </div>
    <div class="column">
      <div class="box has-text-centered" style= "font-family: Roboto">Radius</div>
    </div>
  </div>
</div>
