<div class="container">
    <!--<div class="card">-->
    <!--</div>-->
    <div class="card">
        <div class="card-content">
            <h1 class="title is-2">Oxygen Levels</h1>
            <progress class="progress is-success" value="100" max="100">15%</progress>
            <h1 class="title is-2">CO2 Levels</h1>
            <progress class="progress is-success" value="100" max="100">15%</progress>
            <h1 class="title is-2">Fuel Tank</h1>
            <progress class="progress is-success" value="100" max="100">15%</progress>
            <h1 class="title is-2">Food</h1>
            <progress class="progress is-success" value="100" max="100">15%</progress>
        </div>
    </div>
</div>